.About-section {
  height: 85vh; /* Full screen height for each section */
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.Hello-1 {
  display: flex;
  top: 20%;
  left: 38%;
  justify-content: center; /* Center the content inside (used with flexbox or grid) */
  align-items: center;
  z-index: 10; /* Layering order */
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  color: #fff; /* #fff background */
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 800;
}
.Hello-2 {
  display: flex;
  top: 30px;
  left: 38%;
  justify-content: center; /* Center the content inside (used with flexbox or grid) */
  align-items: center;
  min-height: 100vh;
  z-index: 10; /* Layering order */
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  color: #fff; /* Transparent background */
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 800;
}
.Hello-dot {
  display: inline;
  top: 22%;
  left: 61%;
  justify-content: center; /* Center the content inside (used with flexbox or grid) */
  align-items: center;
  min-height: 100vh;
  z-index: 10; /* Layering order */
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  color: #f87171; /* Transparent background */
  font-size: 250px;
}
/* THIS IS THE MORE TAB  */
.More-animated {
  font-weight: 700;
  top: 50%; /* Vertical position */
  right: 5%; /* Horizontal position */
  display: inline-block;
  position: fixed; /* Fixed to the viewport */
  z-index: 100; /* Ensure it stays above other elements */
  font-size: x-large;
  transform: rotate(-90deg); /* Rotates the text */
  animation: verticalBounce 1.5s infinite ease-in-out; /* Bouncing animation */
}

.More-animated::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 27px;
  left: 10px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.More-animated:hover::after {
  transform: scaleX(0.76);
  transform-origin: bottom left;
}
.about-info {
  display: flex;
  right: 45%;
  color: #fff;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 15rem;
}
