/* styles/Home.css */

/* Light mode */
body.light {
  background-color: #fff;
  color: #000;
}

/* Dark mode */
body.dark {
  background: rgb(39, 39, 42);
  color: #fff;
}

/* Additional styling for the Ant Layout components in dark mode */
body.dark .ant-layout-header {
  background-color: rgb(39, 39, 42);
}

body.dark .ant-layout-content {
  background-color: rgb(39, 39, 42);
}

body.dark .ant-layout-footer {
  background-color: rgb(39, 39, 42);
  color: #fff;
}

/* Custom Switch styling */
.custom-switch.ant-switch-checked {
  background-color: #1890ff; /* Primary color in dark mode */
}

.custom-switch.ant-switch {
  background-color: #d9d9d9;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between; /* Makes elements spread across the header */
  align-items: center; /* Centers the elements vertically */
  padding: 0 20px; /* Adds space around the items inside the header */
  background: rgb(
    39,
    39,
    42
  ); /* Ant Design's default header background color */
  color: white;
  font-weight: 700;
  font-size: 25px;
}
.switch-wrapper {
  z-index: 10;
  position: relative;
}
.box {
  display: flex;
  align-items: center;
}

.app {
  margin-left: 10px; /* Adds a small gap between MHK and the switch */
}
.Content {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.custom-switch {
  width: 55px; /* Width of the switch */
  height: 25px; /* Height of the switch */
}

/* Switch Track Styling */
.custom-switch.ant-switch {
  border-radius: 6px; /* Rounded corners for the switch */
  transition: transform 1s ease; /* Smooth transition */
}
/* Customize the handle (unselected state) */
.custom-switch .ant-switch-handle {
  width: 22px; /* Width of the handle */
  height: 22px; /* Height of the handle */
  background-color: #fff; /* White background for the handle */
  border-radius: 30%; /* Rounded shape */
}
/* Customize the inner track (unselected state) */
.custom-switch .ant-switch-inner {
  background-color: #d9d9d9; /* Light grey background for light mode */
  border-radius: 6px; /* Match border radius of the switch */
}
/* Adjust position of handle when checked */
.custom-switch.ant-switch-checked .ant-switch-handle {
  transform: translateX(-4px); /* Move handle to the right */
}
